<nav class="navbar navbar-expand-lg navbar-dark bg-primary justify-content-center">
  <a class="navbar-brand main-heading" href="{% url '' %}">
    &nbsp; SEA WebApp
  </a>

  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse text-center" id="navbarNavDropdown">
    <ul class="navbar-nav mr-auto">
      &nbsp; &nbsp; &nbsp;

      {% if user.is_authenticated %}
        {% if request.session.otp_verified %}
          <!-- Show these options only if OTP is verified -->
          <li class="nav-item">
            <a class="nav-link" href="{% url 'user-dashboard' %}">
              Dashboard &nbsp; <i class="fa fa-home" aria-hidden="true"></i>
            </a>
          </li>

          &nbsp; &nbsp; &nbsp;

          <li class="nav-item">
            <a class="nav-link" href="{% url 'user-logout' %}" onclick="return confirm('Are you sure you want to log out?');">
              Log out &nbsp; <i class="fa fa-sign-out" aria-hidden="true"></i>
            </a>
          </li>
        {% else %}
          <!-- Redirect unverified users to OTP setup -->
          <li class="nav-item">
            <a class="nav-link" href="{% url 'otp-setup' %}">
              Set Up OTP &nbsp; <i class="fa fa-key" aria-hidden="true"></i>
            </a>
          </li>
        {% endif %}
      {% else %}
        <!-- Links for non-authenticated users -->
        <li class="nav-item">
          <a class="nav-link" href="{% url 'register' %}"> Register </a>
        </li>

        &nbsp; &nbsp; &nbsp;

        <li class="nav-item">
          <a class="nav-link" href="{% url 'user-login' %}"> Login </a>
        </li>
      {% endif %}
    </ul>
  </div>
</nav>
